<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Browser.UserAgent" value="Mozilla/5.0 (Windows; U; Windows NT 6.1; en-US) AppleWebKit/534.10 (KHTML, like Gecko) Chrome/8.0.552.224 Safari/534.10" />
    <add key="Browser.Home" value="http://sonet.soat.fr/CRA" />

    <add key="Credential.Store" value="sonet.soat.fr" />

    <add key="CRA.List" value="http://sonet.soat.fr/CRA/GetEditViewModel" />
    <add key="CRA.Download" value="http://sonet.soat.fr/PDF/CRAClient/{0}/{1}/{2}/{3}" />
    <add key="CRA.Signature" value="Sign.png" />

    <add key="Mailing.From" value="YOUR NAME" />
    <add key="Mailing.To" value="cra@soat.fr" />
    <add key="Mailing.Subject" value="CRA Client" />
    <add key="Mailing.Template" value="Mailing\Mail.tpl" />
  </appSettings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
</configuration>
